.MainChat
  .MainChat__header
    .MainChat__leftbox
      %p.CurrentGroup
        = @group[:name]
      %ul.MainChat__MemberList
        %li.MainChat__Member Member：
        - @group.users.each do |user|
          %li.MainChat__name
            = user.name
          
    = link_to edit_group_path(@group), class: "MainChat__edit" do
      Edit
  .MainChat__contents
    .MainChat__MessageBox
      .MessageInfo
        %p.MessageInfo__name
        %p.MessageInfo__date
      .MessageContent
        = render @messages
      
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        .inputBox
          = f.text_field :content, class: 'Form__inputText', placeholder: 'type a message'
          = f.label :image, class: 'inputBox__image' do
            = icon('far', 'image', class: 'icon')
            =f.file_field :image, class: 'Form__file'
        = f.submit 'Send', class: 'Form__submitBtn'

    