.SideBar
  .SideBar__header
    .SideBar__sidebox
      %p.UserName 
        = current_user.name
      .SideBar__icons 
        = link_to new_group_path(current_user), class: "SideBar__btn" do
          = icon('far', 'edit')
        =link_to edit_user_path(current_user), class: "SideBar__btn" do
          = icon('fas', 'cog')
  .SideBar__contents
    - current_user.groups.each do |group|
      .SideBar__group
        = link_to group_messages_path(group) do
          %p.GroupName
            = group.name
          %p.message
            = group.show_last_message